@font-face {
    font-family: 'Times Square';
    src: url('font/TimesSquare/TimesSquare.eot');
    src: url('font/TimesSquare/TimesSquare.eot?#iefix') format('embedded-opentype'),
        url('font/TimesSquare/TimesSquare.woff2') format('woff2'),
        url('font/TimesSquare/TimesSquare.woff') format('woff'),
        url('font/TimesSquare/TimesSquare.ttf') format('truetype'),
        url('font/TimesSquare/TimesSquare.svg#TimesSquare') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('font/MontserratMedium/Montserrat-Medium.eot');
    src: url('font/MontserratMedium/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
        url('font/MontserratMedium/Montserrat-Medium.woff2') format('woff2'),
        url('font/MontserratMedium/Montserrat-Medium.woff') format('woff'),
        url('font/MontserratMedium/Montserrat-Medium.ttf') format('truetype'),
        url('font/MontserratMedium/Montserrat-Medium.svg#Montserrat-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

body {
    background-color: navy;
    color: white;
}

.content {
    max-width: 760px;
    margin: 0 auto;
    text-align: center;
}

i {
    font-size: 80px;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
}
#scoreboard {
    font-family: 'Times Square';
    border: 12px solid black;
    color: orange;
    background-color: #222
}

#sbcontents {
    display: flex;
    justify-content: space-evenly;
}

em {
    font-size: large;
}

#cScoreName {
    font-size: 50px;
    width: 150px;
    margin-right: 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#pScoreName {
    font-size: 50px;
    width: 150px;
    margin-left: 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#cScore, #pScore {
    font-size: 150px;
}

#messages, h3 {
    font-family: 'Montserrat';
    font-size: x-large;
}

#message {
    margin-top: 0;
}

#info {
    display: flex;
    justify-content: space-evenly;
}

.play-again {
    visibility: hidden;
}